*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.w50
{
    width: 50%;
}

.content
{
    width: 70%;
    height: 530px;
    margin-left: 15%;
    margin-top: 3%;
    padding: 10px;
    border: 2px solid rgba(233, 223, 223, 0.932);
    background-clip: padding-box;              
    background: #fff;
}

.content-edit
{
    width: 30%;
    height: 530px;
    margin-left: 35%;
    margin-top: 3%;
    padding: 10px;
    border: 6px solid rgba(220, 220, 220, 0.932);
    background-clip: padding-box;              
    background: #fff;
}


.card-edit
{
    height: 100%;
}


.card-cadastro
{
    float: left;
    height: 100%;
    background-clip: padding-box;
    border-right: 1px solid rgba(220, 220, 220, 0.932);
}

.card-users
{
    float: right;                
    height: 100%;
    background-clip: padding-box;
    border-left: 1px solid rgba(220, 220, 220, 0.932);
}

.title
{
    font-size: 22px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.card-content   
{
    width: 90%; 
    margin-left: 5%;
    margin-top: 10%;
    height: 80%;
    overflow-y: auto;
}

.card-content-book   
{
    width: 90%; 
    margin-left: 5%;
    margin-top: 10%;
    height: 48%;
    overflow-y: auto;
}

.card-content-edit  
{
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    height: 80%;
    overflow-y: auto;
}

.input-w80
{
    height: 55px;
    width: 80%;
    font-size: 20px;
    margin-left: 10%;
    padding-left: 10px;
    margin: none;
    margin-bottom: 3px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 5px;                
    outline: none;
}

.input-search
{
    margin-top: 7%;
}

.btn-input
{
    background: cyan;
}

.btn-input:hover
{
    background: rgb(8, 147, 172);
    border: solid 2px #f5f5f5;
    transition: all 0.3ms;
}

.card-content-book > ul > li
{
    height: 60px;
    width: 90%;
    margin-left: 5%;
    text-decoration: none;
    list-style: none;
    background:  #f5f5f5;
    background-clip: padding-box;
    border: 2px solid rgba(220, 220, 220, 0.932);
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 18px 10px 10px 10px;
}


.btn-edit
{
    width: 60px;
    height: 30px;                     
    color: #000;
    position: relative;
    display: block;   
    text-decoration: none;
    left: 60%;
    margin-top: -7%;              
    border-radius: 5px;
    border: 2px solid  #c25208;
    padding: 5px;
}

.btn-delet
{
    width: 60px;
    height: 30px;                    
    color: #000;   
    position: relative;
    display: block;           
    text-decoration: none;        
    left: 80%;
    margin-top: -7.4%;       
    border-radius: 5px;
    border: 2px solid #a30b0b;
    padding: 4px;
}

.btn-delet:hover
{
    background: #a30b0b;
    color: #fff;
}

.btn-edit:hover
{
    background: #c25208;
    color: #fff;
}

.msn-erro
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
    list-style: none;
    color:#000;
}

.btn-back
{
    background: transparent;
    color: #000;
    width: 30%;
    font-size: 18px;
    margin-right: 90%;
    position: absolute;
    margin-top: -3.4%;
}

.btn-back:hover
{
    color: aqua;
}

.label-msn
{
    text-align: center;
    margin-top: 2px;
}